<h2>Current Payment Method</h2>
<p>Your subscription will renew for $<%= req.subscription.customer.subscriptions.data[0].plan.amount/100 %> on <%= moment.unix(req.subscription.customer.subscriptions.data[0].current_period_end).format("LL") %> using the <%= req.subscription.customer.sources.data[0].brand %> card ending in <%= req.subscription.customer.sources.data[0].last4 %>.</p>

<h2>Save New Payment Method</h2>
<%- render('stripe-payment-form', {action: '/profile/billing/update/'+req.user.id, stripe}) %>